<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Finding</title>
	<link rel="stylesheet" type="text/css" href="../css/find.css"/>

</head>
<body>
<script src="../js/jquery.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/find.js" type="text/javascript" charset="utf-8"></script>

<div id="find1">

    <div id="f_head">
        <div id="login">
            <div style="float: left;margin-top: 5px;color: white;font-size: 18px;margin-right: 10px;">登录</div>
            <div id="l_png" style="margin-right: 15px;"><img src="../img/login.png" width="22px" height="25px" style="margin: 4px;margin-left: 7px;"></div>
            <div><img src="../img/set.png" width="26px" height="26px" style="float: left;margin-top: 5px"></div>
        </div>

        <div id="find">

            <div id="logo">
                <div id="l_logo">
                    <img src="../img/logo.png" width="38px" height="55px">
                </div>
                <div id="l_text">
                    Finding
                </div>
            </div>

            <div id="f1" class="f_tag hand f1">
                快速
            </div>
            <div id="s1" class="skew f_tag hand s1"></div>
            <div id="f2" class="f_tag f2 hand">
                完整
            </div>
            <div id="s2" class="skew f_tag s2 hand"></div>
            <form action="#" method="post">
                <input type="text" name="in" id="in"/>
                <div id="f_png" class="hand">
                    <img id="tg_btn" src="../img/find.png" width="30px" height="30px">
                </div>
            </form>

        </div>
    </div>

    <div id="tag">
        <div id="t1" class="tags">

        </div>
        <div id="t2" class="tags">

        </div>
        <div id="t3" class="tags">

        </div>
    </div>

    <div id="loading"></div>

    <div id="show">

<!--        <div class="result" v-for="(movie,index) in movies" v-if="index<10">-->

<!--            <div class="url">-->
<!--                <a href="https://www.baidu.com">{{movie.title}}</a>-->
<!--            </div>-->
<!--            <div class="r_text">-->
<!--                导演：{{movie.director}}-->
<!--                <br>-->
<!--                上映时间：{{movie.release}}-->
<!--                <br>-->
<!--                剧情简介:{{movie.introduction}}-->
<!--            </div>-->

<!--        </div>-->

    </div>


    <div id="change">
        <div id="to-center" style="width: 250px;">
            <div id="left" class="btn">
                <img src="../img/page_l.png" class="b_img hand" id="left1">
            </div>

            <div id="page">

            </div>

            <div id="right" class="btn">
                <img src="../img/page_r.png" class="b_img hand" id="right1">
            </div>
        </div>
    </div>

</div>

</body>
</html>

