*{
	padding: 0;
	margin: 0;
}

body {
	background: url(../img/login_bg.png);
}

#login{
	background-color: #F5F5F5;
	margin: 0 auto;
	height: 550px;
	width: 490px;
	border:0px solid gray;
	border-radius: 10px;
	margin-top: 100px;
	background: white;
}

#l_head{
	
	height: 160px;
	width: 490px;
	border-radius: 10px 10px 0px 0px;
	background: url(../img/login_bg2.jpg) no-repeat;
	background-size:cover;
	
}

#l_head #text{
	height: 40px;
	width: 200px;
	
	position:relative;
	top:60px;
    left:165px;
	
	color: #D3D3D3;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 1px 1px 5px black;
}

#l_body{
	position:relative;	
}

#l_body .np{
	
	height: 50px;
	width: 430px;
	
	position:relative;
	top:60px;
	left:28px;
	
	margin-top: 15px;
	border: 0px; 
	border-bottom: 1px solid #A9A9A9;
	outline:none;
	
	font-size: 20px;
	color: #808080;
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

#l_body input[type="checkbox"]{
	
	position:relative;
	top:127px;
	left:-405px;
	
	width: 18px;
	height: 18px;

}

#l_body div{
	
	position:relative;
	top:88px;
	left:54px;
	
	width: 100px;
	height: 18px;
	
	font-size: 13px;
	
}

#l_body #dl{
	
	position:relative;
	top:135px;
	left:45px;
	
	width: 400px;
	height: 45px;
	
	background: #EF5050;
	color: #FFFFFF;
	font-size: 18px;
	
	border: none;
	border-radius: 40px;
}

#dl:hover{
	cursor:pointer;
}

